# Explaining some advanced template language features
# BTW apate use minijinja template engine which has jina compatible syntax.

# Acessing context from template
[[deceit]]
uris = ["/tpl/ctx", "/tpl/ctx/{custom_value}"]
headers = [["Content-Type", "text/plain"]]
[[deceit.responses]]
output = """
[
    {"id":42, "name":"Ivan", "surname": "Ivanov"},
]

"""

[[deceit]]
uris = ["/tpl/fn"]
headers = [["Content-Type", "text/markdown"]]
[[deceit.responses]]
output = """
# Template functions


## force_response_code(http_code)

This function force/overwrite response code for this request.
{%- set _ = force_response_code(200) %}


## get_counter("key")

By input key returns previous counter value and increment counter by one on each function call.
 
 - get_counter("test1"): {{ get_counter("test1") }}
 - get_counter("test2"): {{ get_counter("test2") }}
 - get_counter("test2") + 42: {{ get_counter("test2") + 42 }}


## uuid_v4()

Returns random UUID v4: {{ uuid_v4() }}


## random_num() || random_num(max) || random_num(from, to)

Return random number in some range:
 
 - random_num(): {{ random_num() }}
 - random_num(42): {{ random_num(42) }}
 - random_num(42, 69): {{ random_num(42, 69) }}


 ## random_hex() || random_hex(bytes_len)

 Return random hex string for some bytes length or default.

  - random_hex(): {{ random_hex() }}
  - random_hex(8): {{ random_hex(8) }}
  - random_hex(4)-random_hex(8)-random_hex(2): {{ random_hex(4) }}-{{ random_hex(8) }}-{{ random_hex(2) }}

"""
