.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  position: absolute;
  background: #223b6c;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #36f0eb;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
  background: #242344;
}

.CodeMirror-simplescroll-horizontal {
  bottom: 0; left: 0;
  height: 16px;
}
.CodeMirror-simplescroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-simplescroll-vertical {
  right: 0; top: 0;
  width: 16px;
}
.CodeMirror-simplescroll-vertical div {
  right: 0;
  width: 100%;
}
